@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: #112a46; */
  color: #000;
  background-color: #fdfafb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-hero {
  /* background-image: url("./public/hero-2.png"); */
  /* background-size: contain; */
  /* background-position: right; */
  /* background-attachment: fixed; */
  /* width: 100%; */
  /* height: 100vh; */
  /* width: 100%; */
  /* height: auto; */
  /* max-width: 100%; */
  height: 100vh;
  object-fit: contain;
}

.bg {
  background-image: url("bg.png");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}
/* Styles for mobile view */
/* @media (max-width: 768px) {
  .bg-hero {
    object-position: -50% 0;
    width: auto;
    height: auto;
  }
} */

/* Default styles */
.con {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

@media (max-width: 767px) {
  .con {
    scroll-snap-type: none;
  }
}

.text-gradient {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
